.content{
    color: #002f4d;
}

#upload-image{
    border: solid;
    color:#002f4d;
    text-align: center;
}

#predict-image{
    border: solid;
    color:#002f4d;
    text-align: center;
}

#upload-video{
    border: solid;
    color:#002f4d;
    text-align: center;
}

#predict-video{
    border: solid;
    color:#002f4d;
    text-align: center;
}