{% extends 'base.html' %}

{%block bodyblock %}

        <div class="container">
            <br><br>
            <h3 class="content"> Welcome to <span style="color:#198b90">jCyper AI</span></h3>
        <br>
            <p>
                jCypher is a data driven company. We're a team of engineers, machine learning
                experts and more, working together to advance the state of the art 
                in artificial intelligence. We use our techology for widespread public benefit,
                and collaborate with others on critcal challenges.
            </p>
        </div>

{% endblock  %}