{% extends 'base.html' %}

{% block bodyblock %}
    <div class="container">
        <br>
        <h3 class="content">Object Recognition Application</h3>

        <p class="content">
            Object Recognition: This app is driven by data and machine learning model.
            As soon as user upload the image or video, in background it convert into grayscale, crop, convert into eigen image and
            finally it model to predict. All this functionality dumped in the flask app.
            <br>
            Recommended to use the application on the Mozilla FireFox for best experience. Click on "Try it now" and start experiencing.
            <br>
        </p>
        <br>
        <img src="{{ url_for('static',filename='images/002.PNG') }}" alt="" width="600" height="230">
        <br>
        <div align="center">
            <a class="btn btn-outline-primary" href="{{ url_for('upload') }}">Try it now</a>
        </div>
       
    </div>


{% endblock  %}