{% extends 'base.html' %}

{% block bodyblock %}

<div class="container">
    <h3>Object Detection</h3>
</div>

<div class="container">
    <br>
    <form action="#" method="post" enctype="multipart/form-data">
        <label for="upload">Upload to predict</label>
        <input type="file" id="loadfile" name="image" required="true">
        <input type="submit" value="upload & predict">
    </form>

</div>

{% if fileupload  %}

<div class="container">
    <div class="row">
        <div class="col-md-6" id="upload-image">
            <img src="{{ url_for('static',filename='uploads/')}}{{ img_name }}" alt="" width="{{ w }}" height="300">
        </div>
        <div class="col-md-6" id="predict-image">
            <img src="{{ url_for('static',filename='predict/')}}{{ img_name }}" alt="" width="{{ w }}" height="300">
        </div>
    </div>
</div>

<div class="container">
    <br>
    <a href="{{ url_for('report_download') }}">
        <button type="button">Report</button>
    </a>

    <br>
    <br>
    <a href="{{ url_for('page') }}">
        <button type="button">Next</button>
    </a>
</div>

{% elif videoupload  %}

<div class="container">
    <div class="row">
        <div class="col-md-6" id="upload-video">
            <video src="{{ url_for('static',filename='uploads/')}}{{ img_name }}" alt="" width="550" height="300" controls></video>
        </div>
        <div class="col-md-6" id="predict-video">
            <video src="{{ url_for('static',filename='predict/')}}{{ img_name }}" alt="" width="550" height="300" controls></video>
        </div>
    </div>
</div>

<div class="container">
    <br>
    <a href="{{ url_for('report_download') }}">
        <button type="button">Report</button>
    </a>

    <br>
    <br>
    <a href="{{ url_for('page') }}">
        <button type="button">Next</button>
    </a>
</div>


{% endif %}

{% endblock %}
